/* 
    Document   : style
    Created on : 2011-11-15
    Author     : Daniel Kurashige-Gollub
    Description:
        basic style for this application
*/

.error {
    font-size: 1.5em;
    color: red;
}

.bold {
    font-weight: bold;
}

.entry {
    font-family: Verdana, Arial;
}

.title {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.updated {
    font-size: x-small;
    color: royalblue;
}

.summary {
    
}

.time {
    font-size: x-small;
    font-style: italic;
    color: greenyellow;
}

.nodata {
    color: purple;
    font-size: larger;
    font-style: italic;
}
