/* 
    Document   : style
    Created on : 2011-11-15
    Author     : Daniel Kurashige-Gollub
    Description:
        basic style for this application
*/

.error {
    font-size: 1.5em;
    color: red;
}

.readme {
    
}

.bold {
    font-weight: bold;
}

.entry {
    font-family: Verdana, Arial;
    border-style: solid dotted;
    border-width: thin;
    border-color: navy;
}

.title {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.updated {
    font-size: x-small;
    color: royalblue;
}

.author {
    font-variant: small-caps;
    font-style: italic;
}

.summary {
    
}

.time {
    font-size: x-small;
    font-style: italic;
    color: greenyellow;
}

.nodata {
    color: purple;
    font-size: larger;
    font-style: italic;
}

.id {
    font-family: monospace, fantasy;
}

.content {
    font-size: smaller;
    font-family: sans-serif;
    background-color: beige;
}

.info {
    font-size: smaller;
    font-family: Gill, Helvetica, sans-serif;
    background-color: skyblue;
}